body{
    overflow: hidden;
}
h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
#score{
    display: inline-block;
    padding:0;
    margin: 0;
    width: 100px;
    height: 25px;
    margin-right: 30px;
    border: #000000 2px solid;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: -1px 1px 3px 0 #4b4a45;
    text-align: center;
}
div{
    display: block;
    margin: auto;
    width: 650px;
    height: 600px;
}
div #tetris{
    box-shadow: -5px 5px 10px 0 #4b4a45;
}
input{
    display: block;
    margin: auto;
    margin-top:15px;
    background-color: #50c878;
    width:225px;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}
input:hover{
    color: #000000;
    box-shadow: -3px 3px 5px 0 #4b4a45;
}
